/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* Body Styles */
body {
    font-family: Arial, sans-serif;
    /* background-color: #f0f8ff;  Light background color */
}

/* Container Styles */
.container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* Header Styles */
.header {
    text-align: center;
    margin-bottom: 20px;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
}

/* Input Styles */
input[type="text"],
input[type="password"] {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Button Styles */
button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

/* Button Hover Effects */
button:hover {
    background:rgb(0, 56, 146); /* Olive color on hover */
    color: white;
    transform: scale(1.05);
}

/* Link Styles */
a {
    color: rgb(241, 0, 44); /* Olive color for links */
    text-decoration: none;
}

a:hover {
    text-decoration: underline; /* Underline on hover */
}
